.details, .img{
    float: left;
    width:44%;
    padding: 5px;
}

.row::after{
    
    content: "";
    clear: both;
    display: table;
   
}

.row{
    width: 100vh;
    margin-left: 20%;
    background-color: bisque;
}